<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>

<a href="/comix">На главную</a>
<br/>
<br/>
<form th:method="PUT" th:action="@{/comix/{id}(id=${id})}" th:object="${book}" enctype="multipart/form-data">
    <label for="title">Название книги: </label>
    <input type="text" th:field="*{title}" id="title">
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
    <br/>
    <label for="year">Год выпуска книги: </label>
    <input type="text" th:field="*{year}" id="year">
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year Error</div>
    <br/>
    <label for="format">Формат издания: </label>
    <select name="format" id="format">
        <option th:each="formatOpt : ${T(ru.denusariy.Comix.domain.enums.Format).values()}" th:value="${formatOpt}"
                th:text="${formatOpt.getDisplayValue()}"></option>
    </select>
    <br/>
    <span>Альтернативная обложка
      <input type="checkbox" th:field="*{altCover}"/>
    </span>
    <br/>
    <span>Автограф
    <input type="checkbox" th:field="*{autograph}"/>
    </span>
    <br/>
    <label for="signature">Чей автограф: </label>
    <input type="text" th:field="*{signature}" id="signature">
    <div style="color:red" th:if="${#fields.hasErrors('signature')}" th:errors="*{signature}">Signature Error</div>
    <br/>
    <span>Изображение обложки:
    <input type="file" th:name="image">
    </span>
    <br/>
    <input type="submit" value="Обновить"/>
</form>

</body>
</html>