<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
COMIX
<br/>
<form th:method="GET" th:action="@{/comix/search}">
    <input type="submit" value="Поиск">
</form>
<hr/>
<a href="/comix/new">Добавить книгу</a>
<br/>
<hr/>

<div th:each="book : ${bookPage}">
    <a th:href="@{/comix/{id}(id=${book.getId()})}"
       th:text="${book.getTitle() + ', ' + book.getYear()}">book</a>
</div>
<hr/>

<span th:if="${bookPage.totalPages > 1}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
     <a th:href="@{/comix(size=${bookPage.size}, page=${pageNumber - 1})}"
        th:text="${pageNumber}" th:class="${pageNumber==bookPage.number + 1} ? active"></a>
</span>


</body>
</html>