<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>

<a href="/comix">На главную</a>
<br/>
<div th:if="${book.image != null}">
    <a th:href="@{/images/{image_id}(image_id=${book.getImage().getId()})}">
        <img th:src="@{/images/{image_id}(image_id=${book.getImage().getId()})}" style="width:200px"/>
    </a>
</div>
<p>
    <b th:text="${book.getTitle() + ', ' + book.getYear()}">Title</b>
</p>
<span>Формат:
    <span th:text="${book.getFormat().getDisplayValue()}"></span>
</span>
<div th:if="${book.isAltCover()}">
    <span>Альтернативная обложка</span>
</div>
<div th:if="${book.isAutograph()}">
    <span>С автографом:
    <span th:text="${book.getSignature()}">Autograph</span>
    </span>
</div>

<hr/>
<span>Содержимое:</span>
<table th:each="comic : ${book.getComicsList()}">
    <tr>
        <td>
            <span th:text="${comic.getTitle() + ', ' + comic.getYear() + ' год, сценарий: ' + comic.getWriters() +
            ', рисунок: ' + comic.getArtists()}">comics</span>
            <a th:href="@{/comix/comics/{comic_id}/edit(comic_id=${comic.getId()})}">Изменить</a>
        </td>
    </tr>
</table>
<a th:href="@{/comix/{book_id}/new_comic(book_id=${book.getId()})}">Добавить содержимое</a>
<hr/>
<br/>

<form th:method="GET" th:action="@{/comix/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/comix/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>